# Ignore the data directory
data/

# Ignore TensorBoard event files
events.out.tfevents.*
*.pid

# Ignore the saved models
*.pth

# Ignore all log files
*.log
*.out

# Ignore all zip files
*.zip

# Ignore test files
test.py
